h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease-in
}

textarea {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
}

.nav-right {
    font-size: 18px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style-type: none;
    align-items: center;
}

.login-btn {
    background-color: #8fb3ff;
    color: black;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    box-shadow: 0px 0px 0px 0px #8fb3ff;
}

.login-btn:hover {
    box-shadow: 0px 1px 15px 0px #8fb3ff;
}

.footer {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    padding: 50px;
}

.footer-mid-section {
    color: #c4c4c4;
}

.below-footer {
    padding: 20px;
    margin: 0 auto 0 auto;
    max-width: 90%;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(221, 221, 221);
    font-size: 12px;
    border-top: 1px solid rgb(81, 81, 81);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}

.footer-right {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    font-size: 14px;
}

.link-react {
    text-decoration: none;
    color: #ffffff;
}

.search-wrap {
    color: rgb(233, 233, 233);
    background-color: #101111;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 18px;
    height: 2.2rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

input {
    background-color: transparent;
    color: rgb(233, 233, 233);
    font-family: 'Poppins', sans-serif;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
    color: rgb(233, 233, 233);
}

.search-icon {
    color: #b5bb4c;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-list {
    position: absolute;
    max-width: 100%;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 2.5rem;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 100;
}

.search-res {
    padding: 10px;
    cursor: pointer;
}

.search-res:hover {
    background-color: #1d2118;
}

.post-box {
    display: flex;
    justify-content: center;
}

.post-container {
    margin-top: 2rem;
    background-color: #111111;
    padding: 0px 15px 15px 15px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 6px;
}

.post-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.three-dot-container {
    padding: px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.three-dot-container:hover {
    background-color: #141625;
}

.post-threedots {
    fill: gray;
    width: 20px;
    transition: 0.2s ease-in-out;
}
.post-threedots:hover {
    fill: rgb(75, 156, 255);
}

.post-header {
    margin-top: 12px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pfp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.create-post-title {
    width: 90%;
    background-color: rgb(14, 14, 14);
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
}

.create-post-desc {
    width: 90%;
    font-size: 14px;
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 4px 8px 4px 8px;
    border: none;
    border-radius: 4px;
    resize: none;
}

.create-post-skills {
    font-size: 14px;
    width: 90%;
    padding: 4px 8px 4px 8px;
    background-color: rgb(14, 14, 14);
    border-radius: 4px;
}

.post-inp-area {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.share-card {
    background-color: #161616;
    max-width: 60%;
    padding: 15px 15px 20px 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.share-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.share-bottom-bar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    cursor: pointer;
    padding: 0px 30px 0px 30px;
}

.invite-container {
    margin-top: 3rem;
    background-color: #232323;   
    max-width: 60%;
    padding: 20px;
    border-radius: 12px; 
}

.review-btn {
    color: #101111;
    background-color: #BB86FC;
    font-weight: 700;
    border-radius: 16px;
    padding: 8px;
}

.review-btn:hover {
    background-color: #a576df;
}

.green-btn {
    background-color: #7463f4;
    color: white;
    font-size: 14px;
    padding: 8px 12px 8px 12px;
}
  
.green-btn:hover {
    background-color: #5f4ced;
}
  
.message-write {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    background-color: #1A1D1E;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
}

.message {
    margin-top: 2rem;
    background-color: #AEC0F5;
    color: black;
    padding: 10px 15px 0px 15px;
    /* border-radius: 15px; */
    border-radius: 0px 10px 10px 10px;
    float: left;
    display: flex;
    flex-direction: column;
}

.msg-pfp {
    width: 20px;
    border-radius: 50%;
}

.msg-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-bottom-line {
    border: 1px solid rgb(45, 45, 45);
    border-radius: 4px;
    width: 575px;
    font-size: 12px;
    background-color: rgb(23, 22, 23);
    padding: 6px 12px 6px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    transition: 0.3s;
}

.post-bottom-line:hover{
    background-color: #1b1a1c;
}

.post-header-subtle {
    color: gray;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.post-bottom-btn {
    font-size: 12px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #6757e0;
}

.side-post-container {
    margin-top: 2rem;
    font-size: 14px;
    background-color: #0e0f0f;
    border-radius: 6px;
    padding: 15px 15px 10px 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-btn {
    background-color: transparent;
    border-radius: 4px;
}

.update-box {
    position: absolute;
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 60%;
    border-radius: 6px;
    padding: 10px 40px 30px 40px;
    z-index: 999;
    box-shadow: 0 0 4px rgb(118, 154, 255);
}

.upd-inp-field {
    padding: 30px;
    background-color: #101010;
    color: #000000; 
    border: 1px solid rgb(44, 44, 44);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.upd-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.upd-inp-txt {
    border: 1px solid rgb(45, 45, 45);
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    width: 80%;
}

.close-btn {
    background-color: #252525;
    color: #ffbec8;
    border-radius: 18px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    transition: 0.2s ease-in-out;
}

.close-btn:hover {
    background-color: #5a1120;
}

.no-res-box {
    width: 545px;
    background-color: rgb(25, 25, 25);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.no-res-txt {
    overflow: 'hidden';
    white-space: 'nowrap';
    text-overflow: ellipsis;
}

.inp-row {
    margin: 10px 40px 0 40px;
    display: flex;
    flex-direction: row;
}

.req-members-cnt {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 500px;
}

.number-req-selector {
    width: 150px;
    height: 2px;
}

.slider-value {
    padding: 4px 8px 4px 8px;
    background-color: #232323;
    border-radius: 4px;
}

.obj-type-inp {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 10px;
    align-items: center;
}

.post-skills {
    background-color: rgb(25, 52, 82);
    color: rgb(168, 209, 251);
    padding: 1px 8px 1px 8px;
    border-radius: 6px;
}