.navbar {
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
}

.nav-right {
    color: #d7dbdc;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style-type: none;
    align-items: center;
}

.login-btn {
    background-color: #577a8c;
    color: #C4EBFF;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 18px;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-btn:hover {
    background-color: #446a7d;
}

.footer {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    padding: 50px;
}

.footer-mid-section {
    color: #c4c4c4;
}

.below-footer {
    padding: 20px;
    margin: 0 auto 0 auto;
    max-width: 90%;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(221, 221, 221);
    font-size: 12px;
    border-top: 1px solid rgb(81, 81, 81);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}

.footer-right {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    font-size: 14px;
}

.link-react {
    text-decoration: none;
    color: #ffffff;
}

.search-wrap {
    min-width: 300px;
    color: rgb(233, 233, 233);
    background-color: #101111;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 18px;
    height: 2.2rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

input {
    background-color: transparent;
    color: rgb(233, 233, 233);
    font-family: 'Poppins', sans-serif;
    border: none;
    height: 100%;
    font-size: 1rem;
    width: 100%;
    margin-left: 5px;
}

input:focus {
    outline: none;
    color: rgb(233, 233, 233);
}

.search-icon {
    color: #b5bb4c;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-list {
    width: 100%;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 0.5rem;
    max-height: 200px;
    overflow-y: scroll;
}

.search-res {
    padding: 10px;
    cursor: pointer;
}

.search-res:hover {
    background-color: #1d2118;
}

.post-container {
    margin-top: 2rem;
    padding: 0px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 1.2rem;
    border: 2px solid rgb(195, 183, 255);
    border-radius: 12px;
    max-width: 60%;
}

.post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.2rem;
}

.pfp {
    width: 25px;
    height: 25px;
}

.share-card {
    background-color: #161616;
    border: 1px solid rgb(92, 92, 92);
    max-width: 60%;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.share-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.share-bottom-bar {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}