@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Lora&family=Plus+Jakarta+Sans:wght@300&family=Poppins:wght@300&display=swap');

/* Custom Scroll-bar for entire website  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 241, 241); 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949; 
}

/* 
To add a text when hovering an icon : to give information add:
    class="tooltip"
    and class="tooltiptext" to the text content to show. 
    Example : 
    <div class="tooltip">
      <span class="tooltiptext">Notifications</span>
      <img style={{width:"25px"}} src = {notificationIcon} />
    </div>
     */
     
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;   
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  border-radius: 6px;
  top: 100%;
  left: 50%;
  margin-left: -40px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.body{
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

select {
  font-family: 'Poppins', sans-serif;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid rgb(48, 48, 48);
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.login-page-btn {
  background-color: rgb(99, 169, 254);
  font-weight: 700;
  padding: 8px 20px 8px 20px;
}
.login-page-btn:hover {
  background-color: rgb(79, 131, 255);
}

.login-bottom-text {
  font-size: 12px;
  color: rgb(146, 146, 146);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.login-bottom-text:hover {
  color: rgb(197, 197, 197);
}

.create-btn {
  background-color: #7463f4;
  color: white;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 0px 0px 0px rgb(102, 82, 201);
}

.create-btn:hover {
  background-color: #7058e6;
  box-shadow: 0px 1px 15px 0px rgb(102, 82, 201);
}

.banner {
  margin-top: 6rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.banner-main-text {
  font-size: 40px;
  margin-bottom: 2rem;
  font-weight: 700;
}

.banner-sub-text{
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.banner-btn {
  margin-top: 2rem;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  background-color: white;
  padding: 14px 24px 14px 24px;
  border-radius: 4px;
}

.banner-btn:hover {
  background-color: rgb(223, 223, 223);
  box-shadow: 0px 0px 40px 0px rgb(19, 35, 94);
}

.banner-frame {
  margin-top: 2rem;
  width: 100%;
}

.section-below-banner {
  margin-top: 14rem;
  margin-bottom: 10rem;
  font-family: 'Poppins', sans-serif;
  color: rgb(233, 233, 233);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center ;
  gap: 10rem;
}

.sq-box {
  background-color: #0F121B;
  padding: 30px;
  border-radius: 8px;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem ;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 2px -1px 43px 6px rgba(0,0,0,0.62);
  -moz-box-shadow: 2px -1px 43px 6px rgba(0,0,0,0.62);
  box-shadow: 2px -1px 43px 6px rgba(15, 16, 42, 0.62);
  cursor: pointer;
}

.sq-box:hover {
  background-color: #191f2d;
  box-shadow: 0px 2px 20px 1px #1D2433;
}

.go-btn {
  border-top: 1px solid rgb(204, 204, 204);
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.go-btn:hover {
  color: rgb(224, 224, 224);
}

.account-head {
  padding: 10px 50px 50px 50px;
}

.user-card {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.user-card-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.card-pfp {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.explore-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
  gap: 1rem;
  align-items: center;
}

.about-main-box {
  display: flex;
  flex-direction: column;
}


.register-card {
  margin-top: 1rem;
  padding: 20px 5px 40px 5px;
  width: 40%;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 1.7rem;
  border-radius: 6px;
}

.register-field {
  background-color: #000000;
  display: flex;
  padding-bottom: 10px;
  padding: 6px 10px 6px 10px;
  width: 60%;
}

.register-page-card {
  margin-top: 1rem;
  padding: 20px 5px 20px 5px;
  width: 40%;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 1.7rem;
  border-radius: 6px;
}

.profile-page {
  padding: 10px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.profile-cards-row {
  color: white;
  background-color: #000000;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  border-radius: 4px;
  border: 1px solid rgb(63, 63, 63);
}

.profile-card {
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 6px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.other-utils {
  padding: 20px 30px 20px 30px;
  border-radius: 6px;
  /* background-color: #ffd8bd; */
  color: rgb(255, 255, 255);
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-row {
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
} 

.dm-btn-container {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dm-btn {
  width: 30px;
  height: 30px;
}

.profile-links {
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.showcase {
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.side-by-side-posts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center ;
  gap: 2rem;
}

.profile-btn {
  font-size: 14px;
  background-color: #252421;
  padding: 8px 15px 8px 15px;
  color: white;
}

.profile-btn:hover {
  background-color: #181818;
}

.login-head {
  padding: 10px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.filter-parent-box {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.side-post-parent {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.filter-container {
  margin-top: 2rem;
  background-color: #0e0f0f;
  border-radius: 6px;
  padding: 25px 25px 25px 25px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-row {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 250px
}

.skill-select-show {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: rgb(142, 207, 239);
}

.selected-skill {
  background-color: rgb(40, 83, 104);
  padding: 2px 8px 2px 8px;
  border-radius: 12px;
  cursor: pointer;
}

.number-req-selector-filter {
  height: 2px;
  width: 110px;
}

.clear-filter-btn {
  border: none;
  font-size: 12px;
  background-color: #2b2b2b;
  color: white;
  padding: 5px 10px 5px 10px;
}

.clear-filter-btn:hover {
  background-color: #29507d;
  box-shadow: 0px 1px 8px 0px #17465e;
}

.timeline-block {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px;
}

.get-started-btn {
  margin-top: 2rem;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 14, 14);
  padding: 14px 20px 14px 20px;
  border-radius: 4px;
  max-width: 200px;
}

.get-started-btn:hover {
  background-color: #000000;
}

.chat-page-bounds {
  /* padding: 10px; */
  display: flex;
  flex-direction : column;
  align-items: center;
  font-size: 16px;
}

.chats-container {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  min-height: 520px;
  width: 100%;
  border-radius: 4px;
}

.chat-section-left {
  overflow-y: auto;
  max-height: 550px;
  width: 45%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(62, 62, 62);
  gap: 15px;
  align-items: center;
}

.left-chat-head {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(62, 62, 62);
}
.chat-search {
  color: rgb(255, 255, 255);
  font-size: 12px;
  height: 20px;
  background-color: #38434F;
  width: 85%;
  padding: 5px;
  border-radius: 4px;
}

.chat-left-row {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 10px 0px;
  color: rgb(156, 156, 156);
  font-weight: bold;
  font-size: 12px;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(62, 62, 62);
  width: 100%;
}

.text-hover-chat:hover {
  cursor: pointer;
  color: rgb(228, 228, 228);
  transition: 0.1s ease-in-out;
  text-shadow: -1px 8px 10px rgba(152,82,255,0.6);
}

.chat-section-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-rigth-head {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgb(34, 34, 34);
  box-shadow: 0px 11px 30px -20px rgba(63,153,232,1);
  width: 100%;
}

.chat-input-box {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat-input-area {
  padding: 3px 15px 3px 15px;
  background-color: #38434F;
  width: 70%;
  border-radius: 4px;
  font-size: 14px;
}

.chat-message-show-container {
  border-bottom: 1px solid rgb(62, 62, 62);
  height: 70%;
  padding: 10px;
}

.chat-send-btn {
  background-color: #8fb3ff;
  color: black;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
}

.chat-send-btn:hover {
  background-color: #a6c2ff;
}

.icon-bar-top-panel {
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
  border: 1px solid rgb(46, 46, 46);
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
}