@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Lora&family=Plus+Jakarta+Sans:wght@300&family=Poppins:wght@300&display=swap');


.body{
  font-family: 'Poppins', sans-serif;
}

.create-btn {
  background-color: #8e8f50;
  color: #fbffb6;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 18px;
  padding: 5px;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.create-btn:hover {
  background-color: #7d7e34;
}

.banner {
  margin-top: 6rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.banner-main-text {
  font-size: 25px;
  margin-bottom: 2rem;
}

.banner-sub-text{
  color: rgb(199, 199, 199);
}

.banner-btn {
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
  font-weight: bolder;
  color: black;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.banner-btn:hover {
  background-color: rgb(223, 223, 223);
}

.banner-frame {
  margin-top: 2rem;
  width: 100%;
}

.section-below-banner {
  margin-top: 14rem;
  font-family: 'Poppins', sans-serif;
  color: rgb(233, 233, 233);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center ;
  gap: 10rem;
}

.sq-box {
  border: 1px solid rgb(162, 162, 162);
  padding: 20px;
  border-radius: 20px;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem ;
}

.go-btn {
  border-top: 1px solid rgb(204, 204, 204);
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  cursor: pointer;
}

.go-btn:hover {
  color: rgb(224, 224, 224);
}

.account-head {
  padding: 50px;
}

.user-card {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.user-card-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.card-pfp {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.explore-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
  gap: 1rem;
  align-items: center;
}

.about-main-box {
  display: flex;
  flex-direction: column;
}


.register-card {
  margin-top: 3rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: flex-start;
  gap: 2.3rem;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 20px;
  max-width: 50%;
}

.register-field {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(242, 255, 144);
  width: 60%;
}

.profile-page {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.profile-cards-row {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.profile-card {
  padding: 20px;
  background-color: #F2E7FE;
  color: black;
  border-radius: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.other-utils {
  padding: 20px;
  border-radius: 20px;
  background-color: #FFCCA7;
  color: black;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
} 

.dm-btn-container {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dm-btn {
  width: 30px;
  height: 30px;
}

.profile-links {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.showcase {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
