@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&family=Lora&family=Plus+Jakarta+Sans:wght@300&family=Poppins:wght@300&display=swap');

/* Custom Scroll-bar for entire website  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 241, 241); 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949; 
}



button {
  /* font-family: 'Poppins', sans-serif; */
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

select {
  /* font-family: 'Poppins', sans-serif; */
  background-color: #1e1e1e;
  color: white;
  border: 1px solid rgb(48, 48, 48);
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.login-page-btn {
  background-color: rgb(99, 169, 254);
  font-weight: 700;
  padding: 8px 20px 8px 20px;
}
.login-page-btn:hover {
  background-color: rgb(79, 131, 255);
}

.headings {
  font-weight: 700;
  font-size: 48px;
}

.login-bottom-text {
  font-weight: 500;
  font-size: 14px;
  color: rgb(146, 146, 146);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.login-bottom-text:hover {
  color: rgb(197, 197, 197);
}

.page-parent {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 4px 80px 4px 80px;
}

.create-btn {
  background-color: #7463f4;
  color: white;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
  box-shadow: 0px 0px 0px 0px rgb(102, 82, 201);
}

.create-btn:hover {
  background-color: #7058e6;
  box-shadow: 0px 1px 15px 0px rgb(102, 82, 201);
}

.landing-page{
  background-image: url('../src/imgs/landing-page-background.png');
  background-size: cover;
  /* background-position: center; */
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 80px 20px 80px 20px;
}

.banner-main-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 68px;
  margin-bottom: 2rem;
  font-weight: 700;
  position: relative; 
}


.banner-main-text > * {
    position: relative; 
    z-index: 1;
}

.banner-background-gradient {
  background: linear-gradient(to top left, #ff3d00 0%, #0400ff 100% );
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(80px);
  opacity: var(0.7);
  transition: opacity 0.3s;
}

.banner-sub-text{
  text-align: center;
  color: rgb(200, 200, 200);
  font-size: 20px;
}

.banner-sub-text-box{
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.banner-btn {
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 500;
  color: black;
  background-color: white;
  border: 1px solid white;
  padding: 10px 20px 10px 20px;
  border-radius: 60px;
}

.banner-btn:hover {
  transition: 0.2s ease-in-out;
  background-color: black;
  color: white;
}

.banner-frame {
  margin-top: 2rem;
  width: 100%;
}



.account-head {
  padding: 10px 50px 50px 50px;
}

.user-card {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.user-card-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.card-pfp {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.explore-header {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  justify-content: space-between;
  align-items: first baseline;
  gap: 5rem;
  align-items: center;
}

.about {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.register-card {
  margin-top: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 1.5rem;
  border-radius: 6px;
}


.profile-page {
  padding: 10px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.profile-cards-row {
  /* color: white; */
  /* background-color: rgb(13, 17, 48); */
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(140, 127, 255);
}

.profile-card {
  padding: 20px;
  border-radius: 6px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.other-utils {
  padding: 20px 30px 20px 30px;
  border-radius: 6px;
  /* background-color: #ffd8bd; */
  color: rgb(255, 255, 255);
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-row {
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
} 

.dm-btn-container {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dm-btn {
  width: 30px;
  height: 30px;
}

.profile-links {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.showcase {
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.side-by-side-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  gap: 2rem;
}

.login-head {
  margin-top: 50px;
  padding: 10px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.search-wrap {
  color: rgb(233, 233, 233);
  background-color: #101111;
  border: 1px solid rgb(125, 125, 125);
  border-radius: 4px;
  height: 2.2rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px
}

.filter-parent-box {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.side-post-parent {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.mobile-explore-utility-bar {
  padding: 40px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.filter-container {
  font-weight: 500;
  margin-top: 2rem;
  border-radius: 6px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-selected-skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  gap: 10px;
}

.transparent-background {
  background-color: transparent;
  color: white; /* Set text color to white for better visibility */
}

.filter-row {
  color: rgb(193, 193, 255);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 250px
}

.skill-select-show {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: rgb(142, 207, 239);
}

.selected-skill {
  background-color: rgb(40, 83, 104);
  padding: 2px 8px 2px 8px;
  border-radius: 12px;
  cursor: pointer;
}

.number-req-selector-filter {
  height: 2px;
  width: 110px;
}

.profile-skills-display {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  gap: 10px;
}

.clear-filter-btn {
  border: none;
  font-size: 12px;
  background-color: #2b2b2b;
  color: white;
  padding: 5px 10px 5px 10px;
}

.clear-filter-btn:hover {
  background-color: #29507d;
  box-shadow: 0px 1px 8px 0px #17465e;
}

.timeline-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px 50px 100px 50px;
  gap: 10rem;
}

.banner-column-sub-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
}

.chat-page-bounds {
  display: flex;
  flex-direction : column;
  align-items: center;
}

.chats-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  width: 100%;
  border-radius: 4px;
}

.chat-section-left {
  overflow-y: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(62, 62, 62);
  gap: 15px;
  align-items: center;
}

.left-chat-head {
  /* padding: 10px 0px 10px 0px; */
  display: flex;
  flex-direction: row;
  font-size: 14px;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(62, 62, 62);
}

.chat-left-row {
  display: flex;
  flex-direction: row;
  padding: 0px 0px 10px 0px;
  color: rgb(156, 156, 156);
  font-weight: bold;
  font-size: 12px;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(62, 62, 62);
  width: 100%;
}

.text-hover-chat:hover {
  cursor: pointer;
  color: rgb(228, 228, 228);
  transition: 0.1s ease-in-out;
  text-shadow: -1px 8px 10px rgba(152,82,255,0.6);
}

.chat-section-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-rigth-head {
  padding: 10px 0px 10px 10px;
  border-bottom: 1px solid rgb(34, 34, 34);
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.chat-rigth-head:hover {
  background-color: #18191f;
  border-bottom: 1px solid rgb(118, 200, 255);
}

.chat-input-box {
  position: fixed;
  bottom: 0;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.chat-input-area {
  padding: 3px 15px 3px 15px;
  background-color: #38434F;
}

.chat-message-show-container {
  overflow-y: auto;
  max-height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.chat-send-btn {
  background-color: #8fb3ff;
  color: black;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
}

.chat-send-btn:hover {
  background-color: #a6c2ff;
}

.post-search-container {
  width: 600px;
}

.home-show-images {
  width: 600px;
}

.icon-bar-top-panel {
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
  border: 1px solid rgb(46, 46, 46);
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
}

.chat-message-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .page-parent {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 4px 20px 4px 20px;
  }

  .banner-main-text {
    text-align: center;
    font-size: 26px;
  }

  .banner-column-sub-section {
    text-align: center;
  }

  .banner-sub-text {
    text-align: center;
    font-size: 16px;
  }

  .headings {
    font-size: 28px;
  }

  .signin-page-heading{
    font-size: 36px;
  }

  .register-page-heading{
    font-size: 26px;
  }

  .section-below-banner {
    flex-direction: column;
  }


  .timeline-block{
    flex-direction: column;
    padding: 80px 0px 80px 0px;
  }

  .sq-box {
    padding: 20px;
    margin: 0px;
    max-width: 90%;
  }

  .banner-column-sub-section{
    font-size: 12px;
  }

  .post-search-container{
    width: 100%;
  }

  .home-show-images {
    width: 300px;
  }
}

